html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

/*add background image to cover */

.fixed {
   	position: fixed; /* Set the navbar to fixed position */
  	bottom: 5px; /* Position at the bottom of the page */
  	right: 5px;
}
/* menu details */
ul.menu {
	list-style-type: none;
    margin: 0;
 	padding: 0;
  	overflow: hidden;
  	border: 0px solid #e7e7e7;
  	background-color: #f3f3f3;
    opacity: .95;
    position: fixed;
  	top: 0;
  	width: 100%;
    transition: .3s;
}
ul.menu:hover {
	opacity: 1;
}
.margin-top {
	margin-top: 80px;
}
li.menu {
float: left;
}
.overlay {
	z-index: 1;
}
/* define the text in the menu */
li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .3s;
}
/* Change the color when hovering over a menu option */
li a:hover:not(.active) {
  background-color: #ddd;
}
/* Change color of the active menu option */
li a.active {
  color: black;
  background-color: rgba(112, 190, 255, .95);
}
.transparent {
opacity:.85;
}
	
h1, h3, p, form {
	color: white;
}
.chemostatimage {
  background-image: url('https://i.ibb.co/C1d6qgM/45760598514-3da4c18fa7-b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backgroun-position: center;
	width: 100%;
	height: 100%;
}
	
body, html {
  height: 100%;
}
 #overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
